body{
	font-family: 'Josefin Sans', sans-serif;
}

header{
	text-align: center;
	background: #cccccc;
	padding: 2%;

	}

ul{
	padding-left: 0;
	list-style: none;
}

li{
	display: inline-block;
	margin-right: 3%;
	text-transform: uppercase;
	font-size: 1em;


}

a{
	display: block;
	text-decoration: none;
	color: gray;
}

h1{
	color: black;
	margin: 3%;
	text-align: center;

}


h4{
	color: black;
	margin: 2%;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.5em;
}

.navigation{
	text-align: center;
	margin: 3%;

}

.navigation a{
	color: white;
}

.work{
	margin: 0 auto;
	width: 75%;
}

.work img{
	width: 96%;
	border: 1px solid #cccccc;
	margin: 2%;
	vertical-align: bottom;

}

.work > div{
	display: inline-block;
	width: 96%;
	margin: 2%;

}	

.work li{
	display: block;
  	width: 70%;
  	text-align: left;
  	border: 1px solid #cccccc;
  	padding: 3%;
  	margin: 2% auto;
}

.work li:hover{
	background: #cccccc;
}

.work > div a{
	display: block;
	color: black;
	text-decoration: none;
	text-align: left;
}

.oc_app img{
	width: 96%;
}

.ff_tablet h4, .mg_mobile h4{
	font-weight: normal;
}

@media screen and ( min-width: 680px ){

	.work{
		width: 50%;
	}
	
	.work > div{
		width: 96%;
		margin: 2%;
	}	
}
 
@media screen and ( min-width: 960px ){

	header{
		background: #cccccc;
		padding: 3%;
	}

	.work{

		width: 100%;

	}

	.work > div{
		width: 44%;
		vertical-align: top;
	}	

	li{
		font-size: 1.2em;
	}

	h4{
		font-size: 1.2em;
	}


	h1{

		font-size: 3em;
		margin-top: 0;
		padding-top: 2%;
	}


}


