body{
	font-family: 'Josefin Sans', sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
}

li{
	display: inline-block;
	margin-right: 3%;
}

a{
	display: block;
	text-decoration: none;
	color: gray;
}

h1{
	color: black;
	margin: 3%;
	text-align: center;
}

h4{
	color: gray;
	margin: 2%;
}

.navigation{
	text-align: center;
	margin: 3%;
}

.work{
	margin: 0 auto;
	width: 75%;
}

.work img{
	width: 96%;
	border: 2px solid gray;
	margin: 2%;
	vertical-align: bottom;

}

.work > div{
	display: inline-block;
	width: 96%;
	margin: 2%;

}	

.work li{
	display: inline-block;
	width: 48%;
	text-align: left;
	margin-left: 2%;
}

.work > div a{
	display: block;
	color: gray;
	text-decoration: none;
	text-align: left;
}

.oc_app img{
	width: 30%;
}

@media screen and ( min-width: 680px ){

	.work{
		width: 50%;
	}
	
	.work > div{
		width: 96%;
		margin: 2%;
	}	
}
 
@media screen and ( min-width: 960px ){

	.work{

		width: 100%;

	}

	.work > div{
		width: 44%;
		vertical-align: bottom;
	}	


h1{
	text-align: left;
}

.navigation{
	text-align: left;
	
}


}


