body{
	font-family: 'Josefin Sans', sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
	margin-left: 3%;
}

li{
	display: inline-block;
	margin-right: 3%;
}

a{
	display: block;
	text-decoration: none;
	color: gray;
}

h1{
	color: black;
	margin: 3%;
	text-align: center;
}

h4{
	color: gray;
	margin: 2%;
}

.navigation{
	text-align: center;
}

.conquest_work{
	margin: 0 auto;
	width: 75%;
}

.conquest_screenshots, .responsive_templates{
	width: 96%;
}


.conquest_screenshots img{
	display: inline-block;
	width: 100%;
	border: 2px solid gray;
	margin: 3%;
}

.responsive_templates img{
	display: inline-block;
	width: 100%;
	margin: 3%;

}

.conquest_wireframes{
	width: 25%;
}

.conquest_wireframes img{
	display: inline-block;
	width: 100%;
	border: 2px solid gray;
	margin: 3%;
}

@media screen and (min-width: 680px){

	.conquest_work{
		width: 50%;
	}
}

@media screen and (min-width: 960px){

	h1{
		text-align: left;
	}

	.navigation{
		text-align: left;
	}
	.conquest_work{
		width: 94%;
		margin-left: 3%;	
	}

	.responsive_templates, .conquest_screenshots{
	
		width: 100%;

	}

	.responsive_templates img, .conquest_screenshots img{
		width: 40%;
		margin-left: 0;
		display: inline-block;
	}

	.conquest_wireframes{
		width: 100%;
	}

	.conquest_wireframes img{
		margin-left: 0;
		width: 26%;
	}
}








