body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 3%;
}

ul{
	padding-left: 0;
	list-style: none;
	/*margin-left: 3%;*/
}

li{
	display: inline-block;
	margin-right: 3%;
	font-size: 1.2em;
}

a{
	display: block;
	text-decoration: none;
	color: gray;
}

header h1{
	color: black;
	text-align: center;
	/*margin-left: 3%;*/
}

h4{
	color: gray;
	margin: 2%;
}

header h3{
	/*margin: 3%;*/
	text-align: center;
}

p{
	font-size: 1.2em; 
	line-height: 1.3
}

.navigation{
	text-align: center;
	margin-bottom: 8%;
}

.conquest_work{
	margin: 0 auto;
	width: 75%;
}

.conquest_screenshots, .responsive_templates{
	width: 96%;
}


.conquest_screenshots img{
	display: inline-block;
	width: 100%;
	border: 2px solid gray;
	/*margin: 3%;*/
}

.responsive_templates img{
	display: inline-block;
	width: 100%;
	/*margin: 3%;*/

}



.conquest_wireframes img, .conquest_sketches img{
	display: inline-block;
	width: 94%;
	border: 2px solid gray;
	vertical-align: top;
	margin-right: 3%;

}

@media screen and (min-width: 680px){

	.conquest_work{
		width: 50%;
	}
}

@media screen and (min-width: 960px){

	h1{
		text-align: left;
	}

	header h1, header h3{
		text-align: left;

	}	

	.navigation{
		text-align: left;
	}
	.conquest_work{
		width: 100%;
	
	}

	.responsive_templates, .conquest_screenshots{
	
		width: 100%;

	}

	.responsive_templates img, .conquest_screenshots img{
		width: 40%;
		margin-left: 0;
		display: inline-block;
	}

	.conquest_wireframes{
		clear: both;
		width: 100%;
	}

	.conquest_wireframes img, .conquest_sketches img{
		width: 26%;
		margin-bottom: 3%;
	}

	.conquest_project_description, .conquest_project_scope, .conquest_discovery_pt1, .conquest_discovery_pt2{
		width: 45%;
		float: left;
		margin-right: 3%;
		margin-bottom: 8%;
		vertical-align: top;

	}

	.conquest_project_scope{
		margin-left: 3%;
	}
}








