body{
	font-family: 'Josefin Sans', sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
}

li{
	display: inline-block;
	margin-right: 3%;
}

a{
	text-decoration: none;
	color: gray;
}

h1{
	color: black;
	margin: 3%;
}

.navigation{
	margin: 3%;
}

.work img{
	width: 40%;
	border: 3px solid gray;
	margin: 2%;

}

.grok_screenshots{
	display: inline-block;
	width: 38%;
	border: 2px solid gray;
	margin: 3%;
}

.grok_app_wireframes img{
	display: inline-block;
	width: 20%;
	border: 2px solid gray;
	margin: 3%;
}

.grok_responsive_templates img{
	display: inline-block;
	width: 40%;
	margin: 3%;
}