body{
	font-family: sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
}

li{
	display: inline-block;
	margin-right: 3%;
}

a{
	text-decoration: none;
	color: gray;
}

h1{
	color: black;
	margin: 3%;
}

.navigation{
	margin: 3%;
}

.work img{
	height: 200px;
	border: 3px solid gray;
	margin: 2%;

}