body{
	font-family: 'Josefin Sans', sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
}

li{
	display: inline-block;
	margin-right: 3%;
}

a{
	text-decoration: none;
	color: gray;
}

h1{
	color: black;
	margin: 3%;
	text-align: center;
}

h3{
	color: black;
	margin: 3%;
	text-align: left;

}

.grok_work{
	width: 75%;
	margin: 0 auto;
}

.navigation{
	margin: 3%;
	text-align: center;
	margin-bottom: 8%;
}

.project_description{
	margin-bottom: 8%;
}

.project_description p{
	margin: 3%;

}

.scope{
	margin-bottom: 8%;
}


.scope ul{
	margin: 3%;
}

.grok_discovery{
	margin-bottom: 8%;
}

.grok_discovery p{
	margin: 3%;
}


.grok_screenshots img{
	display: inline-block;
	width: 94%;
	border: 2px solid gray;
	margin: 3%;
}

.grok_screenshots_m img{
	display: inline-block;
	width: 54%;
	border: 2px solid gray;
	margin: 3%;

}


.grok_responsive_templates img{
	display: inline-block;
	width: 100%;
	margin: 3%;
}

.grok_sketches{
	margin-bottom: 8%;
}

.grok_sketches img{
	width: 96%;
	margin: 2%;

}

.grok_wireframes img{
	width: 96%;
	margin: 2%;
	vertical-align: top;
}

@media screen and (min-width: 680px){

	.grok_work{
		width: 80%;
	}

	.grok_sketches img{
	width: 44%;
	margin: 2%;

	}

	.grok_wireframes img{
	width: 44%;
	margin: 2%;
	vertical-align: top;
	}
	
}

@media screen and (min-width: 960px){

	p{
		font-size: 1.2em;
	}

	li{
		font-size: 1.2em;
	}
	
	h1{
		text-align: left;

	}

	.navigation{
		text-align: left;

	}

	.grok_work{
		width: 100%;
	}

	.grok_responsive_templates{
		width: 50%;
	} 

	.grok_screenshots img{
		margin-left: 3%;
		width: 42%;
	}

	.grok_screenshots_m img{
		margin-left: 3%;
		width: 25%;
	}

	.grok_sketches img{
	width: 27%;
	margin: 2%;

}

.grok_wireframes img{
	width: 20%;
	margin: 2%;
	vertical-align: top;
}

}