/*

blue links - 1459cc
teal links - 2ba7af
medium teal - b1dee2
dark teal - 09282f
very dark teal - 082329
light green body - e5f5ef
orange accents - d65d00
gray borders- c7d5d0

yellow: #fdf18e;

/*border: 5px solid #c7d5d0;*/


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

body{
	background: #e5f5ef;
	font-family: 'Cabin Sketch', 'san-serif';
	color: #082329;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Cabin Sketch', 'san-serif';

}

.wrapper{
	display: block;
	margin: 0 auto;
	
}

.search_programs{
	display: block;
	text-align: center;
	margin-top: 7%;
}

.search_programs form{
	width: 90%;
	margin: 0 auto;
}

.search_programs input{
	width: 70%;
	padding: 2%;
	margin: 1%;
	border: 1px solid #082329;
}

.search_programs button{
	display: inline-block;
	width: 75%;
	font-family: 'Cabin Sketch', 'san-serif';
	background: #2ba7af;
	padding: 2%;
	border: none;
	margin: 1%;
	border: 1px solid #082329;
}

.logo img{

	display: block;
	clear: both;
	width: 94%;
	margin: 1% auto;

}

.logo a{
	margin: 0;
}

.social_media{
	margin: 0 auto;
	width: 12%;


}

.facebook{ 
	display: inline-block;
	float: left;
	width: 49%;

}

.twitter{
	width: 50%;

}	

.donate{
	display: none;
}

.main_navigation{
	list-style: none;
	padding-left: 0;
	text-align: center;
	margin-bottom: 0;
	
}

.main_navigation br{
	display: none;
}

.main_navigation ul{
	width: 50%;
	padding-left: 0;
	margin: 5% auto;
}

.main_navigation li{
	display: inline-block;
	width: 100%;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	background: #082329;
	font-size: 1.3em;
	font-family: 'Cabin Sketch', 'san-serif';
	font-weight: 700;
	border-bottom: 2px solid #efefef;

}

.main_navigation a{
	text-decoration: none;
	color: #ffffff;

}

.main_navigation a:hover{
	color: #2ba7af;
}


.boy_train, .hands{
	display: block;
	width: 50%;
	float: left;

}	

.boy_train img, .hands img{
	width: 94%;
	margin: 4%;

}

.donate_title h4{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
	clear: both;
}

.volunteer_button, .donate_button{
	margin: 3%;
}

.volunteer_button img, .donate_button img{
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
}

.donate_content{
	margin: 1% 3%;
}

.donate_content p{
	margin-top: 0;
	margin-bottom: 0;
	border: 3px solid black;
  	padding: 2%;
  	
}

.donate_content span{
	font-family: 'Cabin Sketch', 'san-serif';
	font-size: 1.3em;
}

.bottom_statement{
	margin-bottom: 5%;
  	margin-top: 5%;
}

.bottom_statement h4{
	margin: 3%;
	padding: 4%;
	text-align: left;
	border-top: 5px solid #c7d5d0;
	border-bottom: 5px solid #c7d5d0;
	font-size: 1.7em;
}

.site_footer{
	background: #082329;
	width: 84%;
	margin: 3%;
	padding: 5%;
}

.secondary_nav, .disclaimer_copyright, .address{
	padding-left: 0;
	list-style: none;
	margin: 3%;
	width: 26%;
	
}

.secondary_nav, .disclaimer_copyright{
	width: 28%;
}

.site_footer ul{
	float: left;
}

.address li{
	color: #e5f5ef;
}

.secondary_nav li, .disclaimer_copyright li, .address li{
	font-size: 0.5em; 
	text-align: center;

}

.secondary_nav a, .disclaimer_copyright a, .address a{
	text-decoration: none;
	color: #2ba7af;

}

/*Begin Tablet Media Query for Donate Page*/

@media screen and (min-width: 680px){

.logo img{
	width: 50%;

}

.volunteer_button, .donate_button{
	width: 44%;
  	float: left;
}

.donate_title h4{
	clear: both;
  	font-size: 2em;
  	margin: 3%;
  	padding: 0;
}

.donate_content{
	clear: both;
}

.search_programs form{
	width: 50%;
}

.social_media{
	width: 7%;
}


}

/*End Tablet Media Query for Donate Page*/


/*Begin Desktop Design for Donate Page*/

@media screen and (min-width: 960px){

.wrapper{	
	
	margin-left: 300px;
	max-width: 924px;
	border-left: 15px solid #c7d5d0;


}	

header{
	
	background-repeat: no-repeat;
	background-size: 54%;
	background-position: left;


}


.logo{
	width: 48%;
	float: right;
	padding-right: 1%;
	
}

.logo img{
	width: 100%;
	margin: 1%;

}

.facebook{
	width: 48%;


}

.twitter{
	width: 50%;

}

.main_body_donate{
	width: 100%;


}

.main_navigation{
	display: block;
	float: right;
	border: none;
	margin-right: 2%;
	margin-left: 0;
}

.main_navigation ul{
	border: none;
}

.main_navigation br{
	display: block;
}

.main_navigation li{
	display: block;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	font-size: 2em;
	text-align: left;
	background: #e5f5ef;
}

.main_navigation a:hover{
	color: #1459cc;

}

.main_navigation ul{
	padding-left: 0;
}

.boy_train img{
	width: 100%;
	float: left;
	margin: 0;
}

.hands img{
	width: 100%;
	float: left;
	margin: 0;

}

.donate_title{
	width: 100%;
}

.donate_title h4{
	background: #b1dee2;
	clear: both;
	text-align: center;
	margin: 0;
	font-size: 2em;
	border-top: 5px solid #c7d5d0; 
	border-bottom: 5px solid #c7d5d0;
}

.donate_button, .volunteer_button{
	margin: 0;
	width: 50%;

}

.volunteer_button img{
	width: 100%;
	float: left;
	
}

.donate_button img{
	width: 100%;
	float: left;
}

.donate_content{
	float: left;
	width: 97%;
	margin-left: 2%;
	margin-top: 2%;
}

.donate_content p{
	border: none;
}

.bottom_statement{
	margin-bottom: 0;
	margin-top: 0;
}

.bottom_statement h4{
	clear: both;
	background: #b1dee2;
	width: 92%;
	font-size: 1.2em;
	text-align: left;
	margin-left: 0;
	margin-bottom: 0;
	border-top: 5px solid #c7d5d0; 
	border-bottom: 5px solid #c7d5d0;
}

.main_navigation a{
	text-decoration: underline;
}

.main_navigation a:hover{
	color: #1459cc;

}

.address ul{
	width: 33.333%;
	
}
.address li{
	color: #e5f5ef;
	text-align: left;
	font-size: 0.7em;

}	

.disclaimer_copyright{
	width: 27%;
}

.disclaimer_copyright li{
	
	display: inline-block;
	padding: 0 2%;
	margin-left: 0;
	font-size: 0.7em;

}

.secondary_nav ul{
	width: 46.333;
	margin-right: 0;
	
}

.secondary_nav li{
	text-align: right;
	font-size: 0.7em;
}

.secondary_nav a{
	color: #2ba7af;

}

.resources_container, footer{
	max-width: 1239px;

}

} 

/*End Desktop Media Query 960 for Donate Page*/

/*Begin Mobile Design for Homepage*/

.main_navigation br{
	display: none;
}


.featured_box img{
	display: block;
	width: 70%;
	margin: 3% auto;
}

.featured_box p{
	font-size: 1em;
	margin: 4% 8%;
	font-weight: 700;
	border: 2px solid #082329;
	padding: 2%;
	color: #082329;

}
.homepage_donation_button{
	margin-top: 0;
}

.homepage_donation_button img{
	display: block;
	margin: 0 auto;
	width: 240px;
}

.homepage_title{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-size: 3em;
	
}

.homepage_title h1{

}

.about_video iframe{

	display: block;
	margin: 0 auto;
}

.homepage_facts{
	clear: both;
	background: #b1dee2;
	font-size: 0.9em;
	padding: 3% 4% 4% 4%;
	line-height: 1.5;
	margin: 3%;

}

.homepage_facts p{
	margin-top: 0;
	margin-bottom: 0;
}

.homepage_facts span{
	font-size: 1em;
	color: #2ba7af;
}


.resources_container{
	background: #09282f;
	padding-bottom: 6%;
	margin: 0 3%;
}

.resources_container h3{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 3%;
	padding-bottom: 3%;
	color: #e5f5ef;
}

.resources_container ul{
	padding: 3%;
	margin: 0 3% 0 5%;
	list-style: none;

}

.resources_container li{
	font-size: 0.6em;
}

.resources_container a{
	color: #2ba7af;

}

.mobile_photo{
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;

}

/*End Mobile Design Homepage

Begin Tablet Homepage Media Query
*/

@media screen and (min-width: 680px){

.homepage_donation_button{
	width: 45%;
	float: left;
	

}

.homepage_donation_button img{
	width: 75%;
	float: right;
}	

.about_video{
	width: 50%;
	float: left;
	
}

.resources_container{
	text-align: center;


}	
	

.resources_list li{
	display: inline-block;
	text-decoration: underline;
	padding: 1% 2%;

}


} 

/*End Tablet Query Homepage*/

/*Begin Desktop Query Homepage*/

@media screen and (min-width: 960px){

header{
	width: 100%;	

}

.mobile_photo{
	display: none;
}

.main_body{
	
	width: 100%;

}

.search_programs{
	width: 47%;
	float: left;
	margin-top: 2%;
	margin-left: 3%;
}

.search_programs form{
	width: 81%;
	float: left;
}	

.search_programs input{
	float: left;
}

.search_programs button{
	float: left;
}

.social_media{
	width: 8%;
	margin-left: 3%;
	
}

.main_navigation{

	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 45px;
	

}

.main_navigation ul{
	width: 100%;
	margin: 0;
}

.main_navigation li{
	font-size: 2.8em;
	font-weight: 700;
	border: none;
	text-align: right;
}

.main_navigation br{
	display: block;
}	

.main_navigation a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.main_navigation a:hover{
	color: #2ba7af;
}

.homepage_featured_container{
	position: relative;
	
}

.featured_box img{
	width: 100%;
	padding: 0;
	margin: 0;
	float: right;
	position: relative;

}

.homepage_donation_button{
	width: 47%;
	margin: 3%;
	float: right;
}

.about_video{

 	width: 47%;
	float: right;
	margin-top: 3%;
}

.featured_box{
	background-image: url(../img/boy_holdinghand.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.featured_box p{
	display: block;
	width: 27%;
	font-size: 1em;
	padding: 1%;
	margin: 3% 3%;
}

.homepage_title{

  	font-size: 6.7em;
  	color: #e5f5ef;
  	padding-top: 10%;
  	text-align: left;
  	margin-left: 3%;
}

.homepage_facts{
	clear: both;
	font-size: 1.1em;
	border-bottom: none;
	background: #e5f5ef;
	line-height: 1;
	padding: 3%;
	margin: 0;
	
}

.homepage_facts p{ 
	font-family: 'Cabin Sketch', 'san-serif';
	

}

.resources_container{
	clear: both;
	margin: 0;
	padding-top: 6%;
	width: 100%;

}

.resources_container ul{
	margin-left: 3%;
	padding: 0;

}

.resources_container h3{
	font-size: 1.8em;
	padding-bottom: 0;
	text-align: left;
	margin-left: 3%;
}

.resources_list{
	text-align: left;
	
}

.resources_list li{
	font-size: 1em;
	padding: 0;
}

.site_footer{
	margin: 0;
	width: 100%;
	padding: 0;
}

li{
	width: 100%;
}

footer{
	width: 100%;
}

} 

/*End Desktop Media Query Homepage*/

/*Begin Mobile Programs Page*/


.flattop_image_container, .cowboy_image_container{
	width: 50%;
	float: left;
	
}

.flattop_image_container img, .cowboy_image_container img{
	width: 92%;
	margin: 2%;
  	border: 3px solid white;
}

.programs_title p, .local_programs p{
	margin: 3% 6%;
	font-size: 1em;
	font-weight: 700;
	padding: 2%;
	border: 3px solid #ffffff;
}

.what_we_teach li{
	font-size: 0.9em;
}

.what_we_teach h3, .local_programs h3{
	text-align: center;
	clear: both;
	font-size: 2.3em;
	margin: 0;
	padding-top: 3%;
}

.what_we_teach{
	clear: both;
	padding-bottom: 8%;
}

.what_we_teach ul{
	margin-top: 2%;
	padding: 2%;
	border: 3px solid #000000;
	list-style: none;
}

.topics_list{
	margin: 1% 8%;

}

.programs_list{
	list-style: none;
	font-size: 0.8em;
	padding: 2% 8%;

}

.programs_list a{
	color: #2ba7af;
}

.local_programs{
	background: #082329;
	padding-bottom: 10%;
	color: #ffffff;
	margin: 3%;

}

}


/*End Mobile Design Programs Page
Begin Tablet Media Query Programs Page*/

@media screen and (min-width: 680px){

.programs_list{
	text-align: center;

}

.programs_list li{
	display: inline-block;
	padding: 1%;
	font-size: 1em;
	text-decoration: underline;
	font-weight: 700;
}

.programs_title p, .what_we_teach li, .local_programs p{
	margin-left: 3%;
	font-size: 1em;
	font-weight: 700;
}

}

/*End Tablet Query Programs Page
Begin Desktop Query Programs Page*/

@media screen and (min-width: 960px){

.programs_title{
	background: #09282f; 
	float: left;
	width: 100%;
}

.programs_title p{
	color: #e5f5ef;
	line-height: 1.5;
	padding: 1%;
	width: 90%;
	margin-left: 3%;
	font-size: 0.9em;
	font-weight: 700;
	text-align: left;
}

.programs_title span{
	font-family: 'Cabin Sketch', 'san-serif';
	font-size: 1.5em;
	color: #2ba7af;

}

.flattop_image_container img, .cowboy_image_container img{
	width: 96%;
	float: left;
}

.site_footer{
	clear: both;
}

.what_we_teach li, .local_programs p{
	width: 80%;
	font-size: 0.9em;
	font-weight: 700;
	text-align: left;
}

.main_body_programs{
	width: 100%;
	background: #b1dee2;

}

.what_we_teach h3, .local_programs h3{
	clear: both;
	padding-top: 2%;
}

.what_we_teach, .local_programs{
	width: 100%;
	float: left;
	padding-top: 1%;
	padding-bottom: 3%;
}

.topics_list{
	padding-top: 2%;
	line-height: 1.5;
}

.programs_list li{
	display: block;
	text-align: left;
	padding: 0;
}

.local_programs{
	border: none;
	margin: 0;
}

.local_programs p{
	font-family: 'Cabin Sketch', 'san-serif';
}

} 

/*End Desktop Query Programs Page 
Begin Mobile Stories Page*/


.nathan_photo, .sidney_photo, .tavis_photo{
	margin: 3%;

}	

.nathan_photo img, .sidney_photo img, .tavis_photo img{
	display: block;
	width: 100%;
}

.success_stories{
	background: #09282f;
	margin: 3%;
}

.success_stories p{
	font-family: 'Cabin Sketch', 'san-serif';
	font-size: 1.2em;
	margin: 0 3%;
	color: #e5f5ef;
	padding: 4%;
	text-align: left;
}

.stories_container h1{
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 2%;
	text-align: left;
	margin-left: 3%;
	
}

.nathan_content, .sidney_content, .tavis_content{
	padding-bottom: 10%;
}

.nathan_content p, .sidney_content p, .tavis_content p{
	font-size: 0.9em;
	font-weight: 700;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 0;
	margin-bottom: 0;

}

.stories_fact p{
	background: #2ba7af;
	font-family: 'Cabin Sketch', 'san-serif';
	font-size: 1.7em;
	text-align: center;
	padding: 4%;
	margin: 3%;

}

.sidney_content, .tavis_content{
	border-top: 5px solid #c7d5d0; 
	margin-top: 2%;

}	

.tavis_content{
	margin-bottom: 10%;
	
}

/*End Mobile Sucess Stories Page

Begin Tablet Query Success Stories*/

@media screen and (min-width: 680px){

	.success_stories{
		padding: 1%;
		width: 63%;
		margin: 3% auto;
	}

	.stories_fact p{
		width: 57%;
		margin: 0 auto;
	}



	.nathan_content, .sidney_content, .tavis_content{
		width: 70%;
		margin: 0 auto;
	}

	.nathan_content p, .sidney_content p, .tavis_content p{
		font-size: 1em;

	}		

} 

/*End Tablet Media Query for Sucess Stories*/

/*Begin Desktop Media Query for Success Stories*/

@media screen and (min-width: 960px){

	.main_body{
	
		width: 100%;

	}

	.success_stories{
		width: 98%;
		margin-top: 0;
	}

	.success_stories p{
		padding: 2%;
		font-size: 1.2em;
	}

	.stories_fact p{
		width: 96%;

	}

	.tavis_content{
		width: 100%;
	}

	.tavis_content img{
		width: 44%;
		
	}

	.tavis_content h1{
		margin-left: 3%;
		margin-bottom: 0;
	}

	.nathan_content h1, .sidney_content h1, .tavis_content h1{
		margin-top: 0;
		padding-top: 6%;
		width: 25%;
		float: left;
		
	}

	.sidney_content h1{
		width: 94%;
		float: right;
		text-align: right;
		margin-right: 6%;
	}

	.nathan_content h1{
		margin-left: 3%;
		margin-bottom: 0;
	}

	.success_stories span{
		font-size: 1.2em;
		color: #2ba7af;
	}

	.success_stories p{
		font-size: 1em;

	}

	.stories_container img{
		width: 50%;

	}

	.sidney_content, .tavis_content{
		border-top: none;
		margin-top: 0;
	}

	.sidney_content, .nathan_content{
		padding-bottom: 0;
		width: 100%;
	}

	.sidney_photo{
		width: 44%;
		float: right;
	}

	.sidney_about{
		width: 50%;
		float: right;
	}

	.nathan_content p, .tavis_content p{
		width: 40%;
		font-size: 1em;
	}

	.nathan_content p, .tavis_content p{
		float: left;
		margin-top: 2%;
		
	}

	.nathan_photo img, .tavis_photo img{
		float: left;
		border: 3px solid #ffffff;
	}

	.sidney_photo img{
		width: 100%;
		border: 3px solid #ffffff;	

	}

	.sidney_content p{
		width: 80%;
		float: right;
		text-align: right;
		margin-right: 6%;
	}

	.stories_fact p{
		background: #e5f5ef;
		clear: both;
		font-size: 2em;
		padding: 2%;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;

	}

} /*End Desktop Query for Success Stories



























