$gray: #D7D7D7;
$orange: #FF5C4E;
$yellow: #FBFA81;
$green: #00FFBA;
$drkgray: #494B4A;
$black: #000000;
$white: #ffffff;

$sans: 'Telex', sans-serif;

$midmobile: 370px;
$tablet: 680px;  
$desktop: 960px;   


@mixin breakpoint($point){
	@media screen and('min-width:' $point){
		@content;
	}
}

@mixin clearfix {
  &:after { content: ""; display: table; clear: both; }
}

@mixin boxes {
	border: 7px solid $black;
	padding: 4%;
	margin-top: 2%;
	margin-bottom: 2%;

	@include breakpoint($tablet){
		padding: 1%;
	}
}

body{
	background: $white;
	font-family: $sans;
	margin: 0;
	
}


h3, h4, h5, h6{
	font-weight: 700;
	margin-top: 2%;
	margin-bottom: 2%;
	text-transform: uppercase;
	letter-spacing: 2px;

}

h3{
	@include breakpoint($desktop){
		font-size: 1.7em;
		letter-spacing: 4px;

	}
}

h5{
	@include breakpoint($desktop){
		font-size: 1.2em;
		letter-spacing: 2px;
	}
}

h1{
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 40px;
	text-transform: uppercase;
	padding-left: 40px;

}

h2{
	letter-spacing: 12px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 2.2em;

	@include breakpoint($tablet){
		font-size: 3.2em;
	}

		@include breakpoint($desktop){
			font-size: 5em;
			margin-bottom: 0;
			margin-top: 4%;
			font-weight: 300;
			letter-spacing: 17px;
	}

}

a{
	color: $orange;
}

ul{
	list-style: none;
	padding-left: 0;
}

p{
	font-size: 0.8em;
	line-height: 1.5;

	@include breakpoint($tablet){
		font-size: 1em;
	}

	@include breakpoint($desktop){
		font-size: 1.2em;
	}
}

.orange{
	background: $orange;
	padding: 1%;
	padding-left: 1.5%;
}

.yellow{
	background: $yellow;
	padding: 1%;
	padding-left: 1.5%;
}

.green{
	background: $green;
	padding: 1%;
	padding-left: 1.5%;
}

#buttons_nav span{
	padding-left: 6%;
}

.max_width{
	display: block;
	margin: 0 auto;

}

.wrapper{
	display: block;
	width: 85%;
	margin: 0 auto;

}

.subpage_site_header{
	width: 100%;
	border-bottom: 7px solid $black;
	padding-bottom: 2%;
	margin-top: 40px;



	@include breakpoint($tablet){
		height: 140px;
		background-image: url(../img/headerbg.jpg);
		background-repeat: repeat;
		background-size: 24%;
		position: relative;
		margin-top: 50px;
		
	}


	@include breakpoint($desktop){
		height: 188px;
		position: relative;
		border-bottom: 7px solid $black;
		margin-top: 0;
		
		
		@include clearfix;

	}

	.logo a{
		display: block;
		width: 20%;
		margin: 0 auto;


		@include clearfix;

		@include breakpoint($tablet){
		width: 15%;
		}

		@include breakpoint($desktop){
			width: 95px;
			height: 95px;
		}
	}
}

.logo a{
	@include breakpoint($desktop){
		width: 35%;
	}
}

.max_width button a{
	color: $black;
	text-decoration: none;
}


.fixed_header_menu{

	display: block;
	font-family: 'Telex', 'sans-serif';
	display: block;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	background: rgba(255, 255, 255, 0.4);
	border: none;
	
	text-transform: uppercase;
	font-size: 0.2em;
	margin: 0;
	z-index: 1000;
	text-align: center;

	@include breakpoint($tablet){
	
		height: 50px;
		border-bottom: 7px solid $black;

	}


	@include breakpoint($desktop){
	transform: rotate(45deg);
	top: 40px;
	right: 45px;
	border: 5px solid $black;
	width: 55px;
	height: 55px;
	
	}	

}

.s{
	background: $white;
	transition: background-color ease 0.3s;
}

.p{
	background: $white;
	transition: background-color ease 0.3s;
}

.s:hover{
	background: $orange;
}

.p:hover{
	background: $yellow;
}

.fixed_header_menu h5{
	
	font-size: 0.3em;
	

	@include breakpoint($desktop){
		transform: rotate(-45deg);
	
		
	}
	
}

.fixed_header_menu a{
	text-align: center;
	font-weight: 700;
	

}

.subpage_site_header img{

	display: block;
	margin: 0 auto;
	width: 70%;

	@include breakpoint($tablet){
		width: 53%;
	}
	
	@include breakpoint($desktop){
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	width: 500px;

}

}


.event_name{
	width: 100%;

}

.event_name h1{

	font-size: 3em;
	text-align: center;

	@include breakpoint($tablet){
		font-size: 4.5em;
		margin-top: 20px;
	}

	@include breakpoint($desktop){
		font-size: 7em;
		
	}

}


.logo{


	@include breakpoint($desktop){
		position: absolute;
		top: 45px;
		left: 14%;

	
		}

	@include clearfix;

	img{
		width: 100%;

	}
}


.restaurants h5{
	text-transform: none;

}

.big_date{
	
	margin-bottom: 6%;
}

.big_date h2{
		font-size: 1.3em;
		font-weight: 500;
		letter-spacing: 5px;
		text-align: center;

		@include breakpoint($tablet){
			font-size: 2em;
		}
		

		@include breakpoint($desktop){
			font-size: 2em;
			margin-top: 2%;
			

	
		
		}
	}


.big_date h3{
		font-size: 0.9em;
		font-weight: 500;
		letter-spacing: 5px;
		text-align: center;

		@include breakpoint($tablet){
			font-size: 1.4em;
		}

		@include breakpoint($desktop){
			font-size: 1.5em;
			margin-bottom: 4%;
			margin-top: 1%;
	
			
		}

	}

.title{
		padding-bottom: 1%;
		margin-top: 4%;
	}


.title h2{
		margin-bottom: 0;
		font-weight: 500;	
	

	}


.day_divider{
	border-bottom: 8px solid $black;
	margin-top: 3%;

	@include breakpoint($desktop){
		border: 8px solid $black;
		background: $white;
		padding: 2%;
		margin-top: 4%;
	
	
	}
	
	h3{
		font-size: 1.7em;
		width: 100%;
		text-align: left;;
		margin-top: 5%;
		padding-bottom: 0;
		letter-spacing: 9px;

		@include breakpoint($desktop){
			padding-bottom: 5%;
			margin-top: 0;
		}
	}	

	h2{
		font-size: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
		padding-bottom: 2%;

	}
}


.day_divider span{

	@include breakpoint($desktop){
	padding: 3%;
}

}

.day_divider{
	@include breakpoint($desktop){
		@include clearfix;
		padding: 1%;
	}
}

.day_divider h3{

	@include breakpoint($desktop){
		width: 30%;
		float: right;
		margin-bottom: 0;
		padding: 2%;
	}
}

.day_divider h2{

	@include breakpoint($desktop){
		width: 40%;
		float: left;
		font-size: 1.8em;
		padding: 2%;
	}

}

.day1_location{ 

	h5{
	text-transform: none;
	margin-bottom: 3%;
	}

}

.date_event{
	
	border-top: 1px solid $gray;
	
}

.date_event h5{
	@include breakpoint($desktop){
		margin-bottom: 0;
	}
}

.date_event h3{
	@include breakpoint($desktop){
		margin-top: 1%;
	}
}

.sessions{


	@include breakpoint($desktop){
		margin-top: 0;
	}
	
}

.location{
	margin-bottom: 5%;
}

.lunch, .sessions, .day1_registration, .registration, .schedule_day3_registration, .demos, .demo_signups, .gamenight, .hangout, .barleys, .methodical{
	border-top: 1px solid $gray;
	padding-bottom: 6%;
}

.day1_registration{
	padding-top: 3%;
}

.speaker_info{

	padding-bottom: 10%;
	
	@include breakpoint($desktop){
		

		@include clearfix;
	}
}

.speaker_info h3 a{
	color: $black;
	text-decoration: none;
}

.speakers{
	margin-top: 4%;
}

.speakers img{
	width: 35%;
	margin: 0 auto;

	@include breakpoint($tablet){
		width: 15%;
		float: left;
		margin-right: 2%;
	}
}

.day1_registration h3{
	text-align: left;
}

.gamenight{
	border-top: 1px solid $gray;
}

#menu{
	text-align: center;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-bottom: 6%;
	margin-top: 6%;
	letter-spacing: 4px;

	@include breakpoint($tablet){
		width: 60%;
	}

	@include breakpoint($desktop){
		width: 40%;
	}
 
		li{
			width: 78%;
			display: block;
			border: 5px solid $black;
			padding: 4%;
			margin: 4%;
			
			
			

			@include breakpoint($tablet){
				font-size: 0.9em;
			}

			@include breakpoint($desktop){
			
				font-size: 1.1em;
				
			}
			
		}

		a{
			text-decoration: none;
			text-transform: uppercase;
			color: $black;
			text-align: center;



		}

}

.g_fill, .o_fill, .y_fill{
	background: $white;
	transition: background-color ease 0.3s;

}

.g_fill:hover{
	background: $green;
}

.o_fill:hover{
	background: $orange;
}

.y_fill:hover{
	background: $yellow;
}




footer{
	margin-top: 10%;

	img{
	width: 7%;
	margin: 0 auto;

	}

	ul{
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	a{
		display: block;
		text-align: center;

	}

	li{
		display: inline-block;
		font-size: 0.7em;
		text-align: center;

	}
}


.registration_instructions{
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 1%;
	margin-top: 3%;

	h5{
		@include breakpoint($desktop){
			font-size: 0.9em;
		}
	}

}

.registration_form form{
	text-align: center; 
	padding-top: 2%;
	padding-bottom: 6%;
	border-bottom: 1px solid $gray;

	input{
		padding: 1%;
		width: 75%;
		margin: 1%;

		@include breakpoint($tablet){
			width: 25%;
		}

	}

	button{
		background: $white;
		margin-top: 1%;
		font-weight: 500;
		text-transform: uppercase;
		padding: 1%;
  		font-size: 0.6em;
  		letter-spacing: 4px;
  		border: 3px solid $black;
  		font-family: 'Telex', 'sans-serif';
  		transition: background-color ease 0.3s;
  		

		@include breakpoint($desktop){
			font-size: 1em;
			padding: 0.5%;
			
		}
	}
}

.registration_form button:hover{
	background: $yellow;
}


.registration_form label{
	text-transform: uppercase;
	font-size: 0.8em;
}

.registration_site_footer{
	width: 100%;
	height: 175px;
	background: $gray;
	padding-top: 4%;
	margin-top: 7%;
}

.r{
		font-size: 0.4em;
		text-align: center;

		@include breakpoint($desktop){
			font-size: 0.7em;
		}
		

		span{
			padding: 2%;
			font-size: 1.5em;
		}
}

.d{
		text-align: center;

}

.reg{
	background: $white;
	transition: background-color ease 0.3s;
}

.reg:hover{
	background: $green;
}

.homepage_site_header{
	width: 100%;
	border-bottom: 7px solid $black;
	padding-bottom: 4%;

	@include breakpoint($desktop){
		height: 302px;
		background-image: url(../img/group.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		border-bottom: 10px solid $black;
		padding: 0;
		position: relative;
		
	@include clearfix;
	}

	.homepage_logo a{
		display: block;
		width: 30%;
		margin: 0 auto;

		@include clearfix;

		@include breakpoint($tablet){
			width: 20%;
		}
		@include breakpoint($desktop){
			width: 60%;
			
		}

	}

}


.fixed_header_menu_homepage{

	display: none;

	@include breakpoint($desktop){
	display: block; 
	width: 80px;
	height: 80px;
	position: absolute;
	top: 60px;
	right: 12%;
	background: $white;
	color: $black;
	border: 10px solid $black;
	text-transform: uppercase;
	
	text-align: center;
	transform: rotate(45deg);
	}

}

.fixed_header_menu_homepage h5{
	transform: rotate(-45deg);
	letter-spacing: 4px;
	font-family: 'Telex', 'sans-serif';
	font-size: 0.9em;
}

.fixed_header_menu_homepage a{
	color: $black;
	font-weight: 300;
}

.fixed_header_menu_homepage:hover{
	background: $black;
	color: $white;
}

.homepage_event_name{
	@include clearfix;
	text-align: center;
	
}

.homepage_event_name h1{
	display: block;
	font-size: 3em;
	margin: 0 auto;
	padding-left: 40px;
	margin-top: 4%;

	@include breakpoint($desktop){
		font-size: 8em;
		margin-left: 0;
		padding-top: 3%;

	}

}

.homepage_logo{
	
	margin: 0;

	@include breakpoint($desktop){
			width: 17%;
			height: 185px;
			position: absolute;
			left: 7%;
			top: 50px;
		}

	@include clearfix;



	img{
		width: 100%;

	}
}


.homepage_date h2{
		font-size: 1.3em;
		text-align: center;
		letter-spacing: 5px;	
		
		@include breakpoint($desktop){
			font-size: 2em;
			margin-top: 2%;
		
		}

}				

.homepage_date h3{
		font-size: 0.9em;
		text-align: center;
		font-weight: 500;
		letter-spacing: 5px;

		@include breakpoint($desktop){
			font-size: 1.2em;

		}

}

.grok_info{
	margin-top: 10%;
}

.session_info{
	margin-bottom: 15%;
	margin-top: 10%;



}

.grok_info, .session_info{

	@include breakpoint($desktop){
		width: 46%;
		float: left;
		margin: 2%;

		h3{
			text-align: center;
			font-weight: 300;
			letter-spacing: 10px;
			font-size: 1.1em;
		}

		p{
			font-size: 1em;
		}	
	
	}

}

.grok_info h3, .session_info h3{
	margin-top: 6%;

}

.grok_info span, .session_info span{
	padding: 1%;


}

.grok_info, .grok_info h3{
	@include breakpoint($desktop){
	text-align: right;

	}
}

.session_info, .session_info h3{
	@include breakpoint($desktop){
	text-align: left;
	}
}

.people_button, .register_button, .schedule_button{
	@include boxes;

	display: block;

	@include breakpoint($desktop){
		width: 27%;
		display: inline-block;
		margin: 1%;
		padding-top: 6%;
		padding-bottom: 6%;
	}

	h3{
		font-size: 1em;
		text-align: center;
		font-weight: 300;
		letter-spacing: 17px;
		color: $black;
	}
}

.people_button, .register_button, .schedule_button{
	background: white;
	transition: background-color ease 0.3s;
}

.people_button:hover{
	background: $yellow;
}

.register_button:hover{
	background: $green;
}

.schedule_button:hover{
	background: $orange;
}


.buttons{
	clear: both;
}

.buttons a{
	color: $black;
	text-decoration: none;
}

.fixed_header_menu_homepage a{
	color: $black;
	text-decoration: none;
}




.email_signup{ 

	label{

		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 0.8em;
	}

	input{
		padding: 0.75%;

		@include breakpoint($desktop){
			width: 20%; 
		}
		
	}


	button{
		background: $white;
		border: none;
		text-transform: uppercase;
		padding: 0.5%;
  		font-size: 0.7em;
  		letter-spacing: 2px;
  		border: 3px solid black;
  		font-family: 'Telex', 'sans-serif';
  		padding-left: 5px;
  		margin-left: 1%;
  		text-align: center;
  		transition: background-color ease 0.3s;
	}	


}

.email_signup form button:hover{
	background-color: $yellow;
}

.homepage_site_footer{
	background: $gray;
}



.email_signup{ 
	clear: both;
	margin-top: 15%;

	@include breakpoint($desktop){
		margin-top: 5%;
	}

	h5{
		text-align: center;
		margin-top: 6%;
		margin-bottom: 3%;
		font-size: 1em;

	}

	form{
		text-align: center;

	}

}

.m_social_media{ 
	display: none;
	width: 20%;
	margin: 0 auto;

	@include clearfix;

	@include breakpoint($desktop){
		display: none;
	}

	a{
		display: block;
		width: 50%;
		float: left;

	}

	img{
		width: 100%;

	}
}

.m_social_media h3{
	@include clearfix;
	text-transform: lowercase;
	text-align: center;


	a{
		display: block;
		text-decoration: none;
	}
}

.homepage_site_footer{
	@include breakpoint($desktop){
	margin-top: 5%;
	}
}

.sponsors ul, .presented_by ul{
	text-align: center;

	li{
		display: inline-block;
		width: 23%
	}
}

.sponsors img, .presented_by img{
	width: 75%;

	@include breakpoint($desktop){
		width: 60%;
	}
}

.sponsors h5, .presented_by h5{
	text-align: center;
	padding: 2%;
	font-weight: 300;
	color: $orange;


	@include breakpoint($desktop){
		font-size: 0.9em;
	}
}


















