/*HEX COLORS

Navy - 000033
Marroon - 663333
Tan - 999966
Logo Blue - 005ea5
Link Color - #449FD8
White - FFFFFF
Light gray - CCCCCC
Medium Gray - 999999*/
/*Cool gray - bec0c6*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

body{
	font-family: "PT Sans" "Helvetica" "sans-serif";
	color: #000033;
	text-transform: uppercase;
}

.square{
	display: none;
}


.horizontal{
	display: block;
	width: 55%;
	margin: 0 auto;
}

.core_values{
	margin: 0 auto 2% auto;
	text-align: center;
	
}

.core_values h1{
	margin: 0 7%;
	text-transform: uppercase;
	font-weight: 700;
	
}

.extranet{
	display: block;
	text-align: center;

}

.extranet form label{
	display: inline-block;
	text-align: left;
	font-size: 0.6em;
	width: 60px;

}

.extranet form input{
	display: inline-block;
	float; left;
	width: 30%;
}

.extranet button{
	background: #663333;
	color: #ffffff;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	padding-right: 10%;
	padding-left: 10%;
}

.navigation_background{
	background: #000033;

}

.navigation_background ul{
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-bottom: 0;

}

.navigation_background li{
	padding: 4%;
	border-bottom: 1px solid #ffffff;
}

.navigation_background a{
	color: #ffffff;
	text-decoration: none;
	font-size: 0.9em;

}

.navigation_background a:hover{
	color: #449FD8;

}

.pa_featured_photo img{
	width: 100%;
}

.title_background h1{
	display: none;
}

.pa_featured_title h2{
	text-align: center;
	font-size: 1.4em;

}

.pa_secondary_navigation{
	background: #bec0c6;

}

.pa_area_navigation ul{
	width: 100%;
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.pa_area_navigation li{
	padding: 4%;
	border-bottom: 1px solid #ffffff;
}

.pa_area_navigation a{
	color: #005ea5;
	text-decoration: none;
	font-size: 0.9em;

}

.pa_area_navigation a:hover{
	color: #449FD8;
}

.pa_featured_content h1{
	text-align: center;
	font-size: 1.4em;

}	

.pa_featured_content p{
	font-size: 0.8em;
	margin-left: 3%;
}

.pa_tan_divider{
	display: block;
	min-height: 40px;
	background: #999966;
}

.site_footer{
color: white;
font-size: 0.5em;
margin-left: 0;
margin-right: 0;

}

.address ul{
	color: #000033;
	list-style: none;
	padding-left: 0;
	margin-top: 3%;
	text-align: center;
}

.phone ul{
	display: inline-block;
	list-style: none;
	color: #000033
}

.phone a{
	color: #449FD8;

}

.site_map_disclaimer a{
	color: #449FD8;

}

/*End Mobile Media Query*/
/*Begin Tablet Media Query*/

@media screen and (min-width: 680px){


.horizontal{
	width: 40%;
}

.core_values h1{
	font-size: 2.8em;
	margin-left: 8%;
	margin-right: 8%;
}

.navigation_background a{
	font-size: 1.3em;

}

.extranet form label{
	font-size: 0.6em; 

}

.pa_area_navigation li{
	font-size: 1.1em;

}

.pa_featured_title h2{
	padding-left: 4%;
	padding-right: 4%;
}

.pa_featured_content{
	padding: 3%;

}

.address li, .phone li, .site_map_disclaimer li{
	font-size: 1.3em;
}

} /*End Tablet Media Query*/
/*Begin Desktop Media Query*/

@media screen and (min-width: 960px){

.horizontal{
	display: none;
}


.square{
	display: block;
	float: left;
	width: 23%;
	margin-left: 2%;

}

.core_values{
	display: block;
	width: 50%;
	float: left;
	margin-top: 8%;
	font-size: 0.6em; 
	text-align: center;
	text-transform: none;
	font-weight: normal;
}

.extranet{
	display: block;
	width: 25%;
	float: left;
	margin-top: 4%;
}

.extranet form input{
	width: 50%;
	margin-bottom: 2%;
}

.extranet button{
	margin-right: 20%;

}

.navigation_background{
	display: block;
	background: #000033;
	clear: both;
}

.primary_navigation ul{
	margin-top: 0;
	margin-bottom: 0;
}

.primary_navigation li{
	display: inline-block;
	text-align: center;
	text-decoration: underline;
	font-size: 0.7em;
	padding: 3% 3%;
	border: none;

}

.pa_featured_photo img{
	width: 72.666%;
	float: right;
}

.pa_secondary_navigation{
	width: 27.333%;
	float: left;
	display: block;
	background: #bec0c6;
	margin-bottom: 2%;
}

.pa_area_navigation ul{
	list-style: none;
	padding-left: 0;
	margin-right: 10%;

}

.pa_area_navigation li{
	text-align: right;
	padding: 4%;
	border-bottom: none;
	width: 80%;

}


.pa_area_navigation a{
	color: #005ea5;
	font-size: 1em;
	padding: 1%;
	line-height: 1.5;
	text-decoration: underline;

}

.pa_featured_title h2{
	font-weight: normal;
	font-size: 1.4em;
	margin-top: 0;
	width: 18.333%;
	padding: 3% 4%;
	text-align: right;

}

.pa_featured_content{
	padding: 0;
}

.pa_featured_content h1{
	width: 72.666%;
	float: right;
	background: #663333;
	color: #ffffff;
	font-size: 3.5em;
	font-weight: normal;
	padding-top: 3%;
	margin-top: 0;
	margin-bottom: 0;
}

.pa_featured_content p{
	width: 65.666%;
	float: right;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 3%;
	font-size: 0.9em;
	line-height: 2;
	text-transform: none;
}

.pa_tan_divider{
	width: 100%;
	clear: both;
	background: #999966;
}

.site_footer{
	padding-top: 6%;
	padding-bottom: 3%;
}

.address{
	width: 20%%;
	float: left;
	margin-left: 4%;
	line-height: 2;


}

.address ul{
	margin-top: 0;
	margin-bottom: 0;
	
}

.address li{
	text-align: right;
	font-size: 1.5em;

}

.phone{
	display: inline-block;
	width: 60%;
	float: left;
	text-align: center;


}

.phone ul{
	width: 100%;
	padding-left: 0;
	margin: 0 auto;
}

.phone li{
	width: 25%;
	display: inline-block;
	margin-top: 0;
	padding: 2%;
	font-size: 1.5em;
}

.site_map_disclaimer{
	width: 10%;
	float: left;
	margin-top: 0;
	text-align: right;
	font-size: 1.1em;
}

} /*End Desktop Media Query*/


/*End Practice Areas Page*/


.atty_featured_title{
	background: #bec0c6;
	padding: 2%;
	border-top: 3px solid #663333;
	border-bottom: 3px solid #663333;
}

.atty_featured_title img{
	width: 55%;
	float: right;
	margin: 4%;
	border: 2px solid #ffffff;
}

.atty_featured_title h1{
	text-align: right;
	font-size: 1.2em;
	padding-top: 3%;
	text-transform: uppercase;

}

.atty_featured_title h3{
	text-align: right;
	font-size: 0.8em;
	text-transform: uppercase;
}

.atty_featured_title h4 a{
	display: block;
	text-align: right;
	font-size: 0.8em;
	color: #449FD8;
	

}

.atty_secondary_navigation{
	display: none;
}

.area_navigation_m li{
	font-size: 1.1em;
}

.area_navigation_m a{
	color: #005ea5;
	

}

.area_navigation_m a:hover{
	color: #449FD8;

}

.area_navigation_m ul{
	list-style: none;
	padding-left: 0;
	text-align: center;

}
.atty_featured_content{
	background: #ffffff;
}

.atty_featured_content ul{
	font-size: 0.8em;
	list-style: none;
	padding-left: 0;
	text-transform: none;
	margin-left: 4%;
	margin-right: 4%;
}

.atty_featured_content h4{
	text-align: center;

} 

.contact_info a{
	color: #449FD8;

}

.admissions h4{

	font-size: 1.3em;
	text-transform: uppercase;
}

.admissions{
	list-style: none;
	padding-left: 0;
	text-transform: none;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 0.8em;

}

.secondary_navigation_m{
	background: #bec0c6;

}

.area_navigation_m ul{
	width: 100%;
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-transform: uppercase;

}

.area_navigation_m li{
	padding: 4%;
	border-bottom: 1px solid #ffffff;
}

.area_navigation_m a{
	color: #005ea5;
	text-decoration: none;
	font-size: 0.9em;

}

.tan_divider{
	display: block;
	min-height: 40px;
	background: #663333;
}

.site_footer{
	color: white;
	font-size: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

.address ul{
	color: #000033;
	list-style: none;
	padding-left: 0;
	text-align: center;
}

.phone ul{
	display: inline-block;
	list-style: none;
	color: #000033
}

.phone a{
	color: #449FD8;

}

.site_map_disclaimer a{
	color: #449FD8;

}


/*End Mobile Media Query*/
/*Begin Tablet Media Query*/

@media screen and (min-width: 680px){

.horizontal{
	width: 40%;
}

.core_values h1{
	font-size: 2em;
	margin-left: 8%;
	margin-right: 8%;
}

.navigation_background a{
	font-size: 1.3em;

}

.extranet form label{
	font-size: 0.6em; 

}

.atty_featured_title h1{
	font-size: 1.8em;
	padding: 4%;
	margin-bottom: 0;
}

.atty_featured_title h3{
	font-size: 1.2em;
	font-weight: normal;
}

.atty_featured_title h4 a{
	font-size: 1.4em;
	font-weight: 300;

}

.atty_featured_content ul{
	font-size: 0.9em;
}

.admissions{
	width: 100%;
	margin-left: 0;
}

.admissions p{
	font-size: 1.4em;
	padding-left: 4%;
}

.practice_areas, .contact_info, .membership, .education, .admissions{
	border-top: 1px solid #663333;
}


.area_navigation_m a{
	font-size: 1em;

}

.address li, .phone li, .site_map_disclaimer li{
	font-size: 1.2em;
}

}
/*End Tablet Media Query*/
/*Begin Desktop Media Query*/
@media screen and (min-width: 960px){

	
.horizontal{
	display: none;
}

.square{
	display: block;
	float: left;
	width: 23%;
	margin-left: 2%;

}

.core_values{
	display: block;
	width: 50%;
	float: left;
	margin-top: 8%; 
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.extranet{
	display: block;
	width: 25%;
	float: left;
	margin-top: 4%;
}

.extranet form input{
	width: 50%;
	margin-bottom: 2%;
}

.extranet button{
	margin-right: 20%;

}

.navigation_background{
	display: block;
	background: #000033;
	clear: both;
}

.primary_navigation ul{
	margin-top: 0;
	margin-bottom: 0;
}

.primary_navigation li{
	display: inline-block;
	text-align: center;
	text-decoration: underline;
	font-size: 0.7em;
	padding: 3% 3%;
	border: none;

}

.atty_featured_title{
	background: #663333;
	width: 68.666%;
	float: right;

}

.atty_featured_title img{
	width: 19%;
	float: left;
	margin-left: 6%;

}

.atty_featured_title h1{
	color: #ffffff;
	text-align: left;
	font-weight: normal;
	font-size: 3em;
	margin-top: 0;
	padding-bottom: 0;
}

.atty_featured_title h3{
	color: #ffffff;
	text-align: left;
	font-weight: normal;
	margin-top: 0;

}

.atty_featured_title h4 a{
	text-transform: uppercase;
	text-align: left;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 2em;
}

.secondary_navigation_m{
	display: none;
}

.atty_secondary_navigation{
	width: 27.333%;
	float: left;
	display: block;
	background: #bec0c6;
	margin-bottom: 2%;
}

.atty_area_navigation ul{
	list-style: none;
	padding-left: 0;
	margin-right: 10%;

}

.atty_area_navigation li{
	text-align: right;
	padding: 4%;

}


.atty_area_navigation li a{
	color: #005ea5;
	font-size: 1.1em;

}	

.atty_area_navigation a:hover{
	color: #449FD8;

}


.atty_featured_content{
	width: 65%;
	float: right;
	margin-bottom: 3%;
}

.atty_featured_content h4{
	text-align: left;
}

.atty_featured_content ul{
	margin-left: 0;
}

.practice_areas, .contact_info{
	width: 50%;
	float: right;
	border-top: none;
	
}

.membership{
	width: 50%;
	float: right;
	border-top: none;

}

.education{
	width: 50%;
	float: right;
	border-top: none;
	

}

.admissions{
	width: 100%;
	clear: both;
	border-top: none;
}

.admissions h4{
	text-align: left;
}

.admissions p{
	font-size: 1.2em;
	text-align: left;
	padding-left: 0;
}

.tan_divider{
	width: 100%;
	clear: both;
	background: #999966;
}


/*End Attorney Detail Page*/

/*Begin Homepage*/


.photo_container{
	background: #bec0c6;
	border-bottom: 1px solid #663333;
	margin-top: 0;
}

.photo_container img{
	display: none;
}

.photo_container p{
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	padding: 4%;
	font-size: 0.8em;
	line-height: 1.5;
	
}

.photo_container span{
	font-size: 1.7em;
}

.news_container{
	background: #663333;
	margin-top: 0;
	padding: 4%;
}

.news_container h1{
	color: #ffffff;
	font-size: 1.6em;
	font-weight: 500;
	text-align: center;
	margin-top: 0;

} 


.news_container p{
	color: #ffffff;
	font-size: 0.8em;
	line-height: 1.5;
	margin-top: 0;

}

.news_container span{
	font-size: 1.5em;
}

.featured_attorney_container img{
	width: 100%;
	margin: 0;
}

figcaption{
	text-align: center;
}

.attorney_content h1{
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}

.attorney_content h4{
	text-align: center;

}

.attorney_content li{
	font-size: 0.8em;
}


.divider{
	display: block;
	min-height: 40px;
	background: #999966;
}

.site_footer{
color: white;
font-size: 0.5em;
margin-left: 0;
margin-right: 0;
}

.address ul{
	color: #000033;
	list-style: none;
	padding-left: 0;
	text-align: center;
}

.phone ul{
	display: inline-block;
	list-style: none;
	color: #000033
}

.phone a{
	color: #449FD8;

}

.site_map_disclaimer a{
	color: #449FD8;

}

/*End Mobile 
Begin Tablet*/

@media screen and (min-width: 680px){


.horizontal{
	width: 40%;
}

.core_values h1{
	font-size: 2.8em;
	margin-left: 8%;
	margin-right: 8%;

}

.navigation_background a{
	font-size: 1.3em;

}

.article1{
	display: block;
	width: 44%;
	float: left;
	border: 1px solid #ffffff;
	padding: 2%;

}

.article2{
	display: block;
	width: 46%;
	float: left;
	margin-left: 4%;
}

.featured_attorney_container img{
	width: 50%;

}

.attorney_img{
	width: 44%;
	float: left;
	margin-left: 5%;
	margin-right: 0;
	border-right: 1px solid #000033;
}

figcaption{
	text-align: left;
}

.attorney_content{
	display: block;
	width: 44%;
	float: left;
}

} /*End Table Media Query
Begin Desktop Media Query*/


@media screen and (min-width: 960px){

.horizontal{
	display: none;
}


.square{
	display: block;
	float: left;
	width: 23%;
	margin-left: 2%;

}

.core_values{
	display: block;
	width: 50%;
	float: left;
	margin-top: 8%;
	font-size: 0.6em; 
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}

.extranet{
	display: block;
	width: 25%;
	float: left;
	margin-top: 4%;
}

.extranet form input{
	width: 50%;
	margin-bottom: 2%;
}

.extranet button{
	margin-right: 20%;

}

.navigation_background{
	display: block;
	background: #000033;
	clear: both;
}

.primary_navigation ul{
	margin-top: 0;
	margin-bottom: 0;
}

.primary_navigation li{
	display: inline-block;
	text-align: center;
	text-decoration: underline;
	font-size: 0.7em;
	padding: 3% 3%;
	border: none;

}

.photo_container{
	background: #bec0c6;
	

}

.photo_container img{
	display: block;
	float: left;
	width: 25%;
	margin-left: 90px;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;

}

.photo_container p{
	display: block;
	width: 47%;
	float: left;
	padding: 1%;
	margin-top: 4%;
	font-size: 0.9em;
	padding-left: 6%;
	padding-top: 0;
	text-transform: none;

	
}

.photo_container span{
	font-size: 2.8em;
	font-weight: 300;
	text-transform: uppercase;

}

.attorney_content li{
	text-transform: none;
}

.news_container h1{
	font-size: 2em;

}

.news_container span{
	text-transform: uppercase;
}

.news_container p{
	text-transform: none;
}

.divider{
	width: 100%;
	clear: both;
}













