body{
	font-family: 'Josefin Sans', sans-serif;
}

header{
	text-align: center;
	background: #cccccc;
	padding: 2%;

}

ul{
	padding-left: 0;
	list-style: none;
}

li{

	display: inline-block;
	margin-right: 3%;
	text-transform: uppercase;
	font-size: 1em;

}

a{

	text-decoration: none;
	display: block;
	
}

h1{
	color: black;
	margin: 3%;
	text-align: center;

}	

.navigation{
	text-align: center;
	margin: 3%;
}

.navigation a{
	color: white;
}

.contact_info{
	display: block;
	width: 75%;
	margin: 3% auto;
	padding-top: 6%;
	text-align: center;
}

.contact_info img{
	width: 6%;

}

.contact_info li{
	margin-bottom: 3%;
	color: white;
}

.email{
	background: black;
	height: 50px;
	width: 75%;
	padding: 2%;
	margin: 2%;

	}

.contact_info a{
	display: inline-block;
	width: 75%;
	background-color: #cccccc;
	height: 50px;
	vertical-align: top;
	padding: 2%;
	margin: 2%;
	}

	.contact_info img{
		width: 8%;
	}

@media screen and (min-width: 680px){
	.contact_info img{
		width: 4%;
	}
}

@media screen and (min-width: 960px){

	h1{
		text-align: center;
		font-size: 3em;

	}

	.navigation{
		text-align: center;
	}

	.contact_info{
		padding-top: 3%;
	}

	.contact_info img{
	width: 3%;

	}

	.contact_info ul{
		width: 75%;
		margin: 0 auto;
	} 

	.email{
		background: black;
		height: 50px;
		width: 40%;
		padding: 2%;
		margin: 2%;
	
	}

	.contact_info a{
	display: inline-block;
	width: 40%;
	background-color: black;
	height: 50px;
	vertical-align: top;
	padding: 2%;
	margin: 2%;
	}	

	.contact_info img{
		width: 10%;
	}


}