body{
	font-family: 'Josefin Sans', sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
	margin-left: 3%;
}


li{
	display: inline-block;
	margin-right: 3%;

}


header h1{
	margin: 3%;

}


a{
	text-decoration: none;
	color: gray;
	margin: 3%;
}

.grok_app_screenshots img{

	display: inline-block;
	width: 42%;
	margin: 3%;
	border: 2px solid gray;

}

.bottom_navigation{
	margin-left: 3%;
}

@media screen and (min-width: 680px){

	.grok_app_screenshots img{
		width: 25%
	}
}

@media screen and (min-width: 960px){

	.grok_app_screenshots img{
		width: 18%;
	}
}
