body{
	font-family: 'Josefin Sans', sans-serif;

}

header{
	background: #cccccc;
	padding: 2%;
	text-align: center;
	}


ul{
	padding-left: 0;
	list-style: none;
	
}

li{
	display: inline-block;
	margin-right: 3%;
	text-transform: uppercase;


}	

header li{
	font-size: 1em;
}

h1{
	margin: 3%;
	text-align: center;
	color: black;

}

a{
	text-decoration: none;
	color: black;
}




.grok_app_screenshots img, .grok_app_wireframes img{

	display: inline-block;
	width: 94%;
	margin: 2%;
	border: 2px solid gray;
	vertical-align: top;

}

.navigation{
	text-align: center;
	margin: 3%;
}

.navigation a{
	color: white;
}

.bottom_navigation{
	text-align: center;
}

.grok_app_wireframes{
	padding-bottom: 10%;
}

	.col_1{
	width: 94%;
	display: block;
	margin: 4%;
}

	.col_2{
	width: 94%;
	display: block;
	margin: 4%
}

	.work{
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width: 720px){

.grok_app_screenshots img{

	display: inline-block;
	width: 44%;
	margin: 2%;
	border: 2px solid gray;
	vertical-align: top;

}

}


@media screen and (min-width: 960px){

	p, li{
		font-size: 1.2em;
	}

	h1{
		
		font-size: 3em;
	}

	.col_1{
	width: 44%;
	display: inline-block;
	vertical-align: top;
	margin: 2%;
}

	.col_2{
	width: 44%;
	display: inline-block;
	vertical-align: top;
	margin: 2%
}



	.grok_app_screenshots img, .grok_app_wireframes img{

		width: 20%;

	}

	.work{
		width: 100%;
	}

	.work p, .work h2{
		margin: 3%;
	}

}
