body{
	font-family: 'Josefin Sans', sans-serif;
}

ul{
	padding-left: 0;
	list-style: none;
	margin-left: 2%;
}

li{
	display: inline-block;
	margin-right: 3%;

}	

.grok_app_screenshots img, .grok_app_wireframes img, .grok_responsive_templates img{

	display: inline-block;
	width: 20%;
	margin: 2%;
	border: 2px solid gray;

}

h1{
	margin: 2%;

}

a{
	text-decoration: none;
	color: gray;
	margin: 2%;
}
